
@{
    ViewBag.Title = "UserLogin";
    Layout = "~/Views/LayoutPage/LayoutHomePage.cshtml";
}

<div class="o-customerForm">
    <div class="o-customerForm__header">
        <h1 class="o-customerForm__title">Sıtkı Aşkın</h1> <p class="o-customerForm__text">
            Web sitemize tekrar hoşgeldiniz. Çiçek Sepeti ekibi olarak keyifli bir alışveriş yapmanızı dileriz.
        </p><br>
    </div>
</div>

