
@{
    ViewBag.Title = "UserDelete";
    Layout = "~/Views/LayoutPage/LayoutAdminNED.cshtml";
}

<div>



    <link rel="stylesheet" href="/Content/bootstrap.min.css">


    <h2 class="text-center">KATAGORİ SİLME EKRANI</h2>
    <hr>
    <div class="text-center">
        <h2>Silmek İstediğinize Emin Misiniz?</h2>

        <form action="/NED/katagoridelete/1" method="post">
            <div class="">
                <input type="submit" value="Sil" class="btn btn-danger center-margin">
                <a class="btn center-margin" href="/admin/ozet">VAZGEÇ</a>
            </div>
        </form>

    </div> <hr>
    <br>
    <br>
    <div class="text-center">
        <h2>KATAGORİ BİLGİSİ</h2>

        <div class="center-margin" style="margin:auto;">
            <div class="">

                <span>İD:</span> <strong>1</strong>
            </div>
            <div class="">
                <span>Ad:</span> <strong>SULTAN TAVUĞU</strong>
            </div>
            <div class="">
                <span>Ad:</span> <strong>sultan-1.jpg</strong>
            </div>

        </div>



    </div>

    <!-- Visual Studio Browser Link -->
    <script type="text/javascript" src="https://localhost:44398/3330cc0f563b45688f46ea3590700575/browserLink" async="async" id="__browserLink_initializationData" data-requestid="b16510e9e32d4d60980a3d1ab40a49ac" data-appname="Opera"></script>
    <!-- End Browser Link -->


</div>