<head>
    <link rel="stylesheet" href="~/AdminTemplate/build/css/custom.min.css" />
    <style>
        body {
            background-color: #011b35;
            font-size:medium;
            font-display:auto;
            font-style:oblique;
        }
    </style>
</head>
<body>
    <div class="container" style="text-align:center;">
        @RenderBody()
    </div>
</body>