
@{
    ViewBag.Title = "Information";
    Layout = "~/Views/LayoutPage/LayoutHomePage.cshtml";
}

<div class="container" style="min-height:500px;">
    <div class="col-12 col-md-8 col-lg-7" style=" margin-top:60px; margin-left:50px;">
        <div class="o-form__groupIcon -required"><input type="text" id="UyeAdSoyad" name="UyeAdSoyad" maxlength="50" data-vv-as="Ad Soyad" class="m-textbox" aria-required="true" aria-invalid="false"> <label for="UyeAdSoyad" class="o-form__label">Yeni Adınız Soyadınız</label> <i class="o-form__icon cmi-user"></i></div>
        <button type="submit" class="o-button__loginBtn cmi-arrow-right-r">Değiştir</button>
    </div>
</div>

