
@{
    ViewBag.Title = "Password";
    Layout = "~/Views/LayoutPage/LayoutHomePage.cshtml";
}

<div class="container" style="min-height:500px;">
    <div class="col-12 col-md-8 col-lg-7" style=" margin-top:60px; margin-left:50px;">

        <div class="o-form__groupIcon -required">
            <input type="password" id="UyeSifre" name="UyeSifre" maxlength="15" data-vv-as="Şifre" class="m-textbox" aria-required="true" aria-invalid="false">
            <label for="UyeSifre" class="o-form__label">Şifreniz</label>
            <i class="o-form__icon cmi-secure"></i>
        </div>
        <div class="o-form__groupIcon -required">
            <input type="password" id="UyeSifre" name="UyeSifre" maxlength="15" data-vv-as="Şifre" class="m-textbox" aria-required="true" aria-invalid="false">
            <label for="UyeSifre1" class="o-form__label">Şifreniz</label>
            <i class="o-form__icon cmi-secure"></i>
        </div>
        <div class="o-form__groupIcon -required">
            <input type="password" id="UyeSifre" name="UyeSifre" maxlength="15" data-vv-as="Şifre" class="m-textbox" aria-required="true" aria-invalid="false">
            <label for="UyeSifre2" class="o-form__label">Şifreniz</label>
            <i class="o-form__icon cmi-secure"></i>
        </div>
        <button type="submit" class="o-button__loginBtn cmi-arrow-right-r">Değiştir</button>
    </div>
</div>

